doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='/css/prueba.css')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' )
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js' )
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' )
  body
    // Dash Navbar Top
    nav.navbar.navbar-light.bg-faded.navbar-static-top.dash-navbar-top.nb-visible
      button.nb-btn-toggle
        span.fa.fa-bars
    // Dash Navbar Left
    .dash-navbar-left.nb-visible
      a.navbar-brand(href='#') Navbar 
      p.nb-nav-title Información
      ul.nb-nav
        li
          a.collapsed(data-toggle='collapse' href='#collapseStatistics' aria-expanded='false' aria-controls='collapseStatistics')
            span.glyphicon.glyphicon-stats.nb-link-icon
            span.nb-link-text Infra
            span.fa.fa-angle-up.nb-btn-sub-collapse
          // Dropdown level one
          ul#collapseStatistics.nb-sub-one.collapse
            li
              a(href='#')
                span.fa.fa-clock-o.nb-link-icon
                span.nb-link-text Panel
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Asistencia
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Plan Matriz
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Brocales
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Disciplina
        li.active
          a(href='#')
            span.glyphicon.glyphicon-folder-open.nb-link-icon
            span.nb-link-text Pages
        li
          a(href='#')
            span.glyphicon.glyphicon-comment.nb-link-icon
            span.nb-link-text Comments
            span.badge 4
        li
          a.collapsed(data-toggle='collapse' href='#collapseLevelOne' aria-expanded='false' aria-controls='collapseLevelOne')
            span.fa.fa-sort-amount-desc.nb-link-icon
            span.nb-link-text Dropdown level 1
            span.fa.fa-angle-up.nb-btn-sub-collapse
          // Dropdown level one
          ul#collapseLevelOne.nb-sub-one.collapse
            li
              a(href='#')
                span.fa.fa-slack.nb-link-icon
                span.nb-link-text Level 1
            li
              a.collapsed(data-toggle='collapse' href='#collapseLevelTwo' aria-expanded='false' aria-controls='collapseLevelTwo')
                span.fa.fa-level-down.nb-link-icon
                span.nb-link-text Dropdown level 2
                span.fa.fa-angle-up.nb-btn-sub-collapse
              // Dropdown level two
              ul#collapseLevelTwo.nb-sub-two.collapse
                li
                  a(href='#')
                    span.fa.fa-wifi.nb-link-icon
                    span.nb-link-text Level 2
                li
                  a(href='#')
                    span.fa.fa-wifi.nb-link-icon
                    span.nb-link-text Level 2
                li
                  a(href='#')
                    span.fa.fa-wifi.nb-link-icon
                    span.nb-link-text Level 2
            li
              a(href='#')
                span.fa.fa-slack.nb-link-icon
                span.nb-link-text Level 1
      p.nb-nav-title Filter
      ul.nb-nav
        li
          a(href='#')
            span.fa.fa-image.nb-link-icon
            span.nb-link-text Image
        li
          a(href='#')
            span.fa.fa-video-camera.nb-link-icon
            span.nb-link-text Video
        li
          a(href='#')
            span.glyphicon.glyphicon-folder-open.nb-link-icon
            span.nb-link-text Audio
        li
          a(href='#')
            span.fa.fa-file-text.nb-link-icon
            span.nb-link-text File
            span.badge 4
        li
          a(href='#')
            span.fa.fa-link.nb-link-icon
            span.nb-link-text Active link
      p.nb-nav-title Category
      ul.nb-nav
        li
          a.collapsed(data-toggle='collapse' href='#collapseCategoryAll' aria-expanded='false' aria-controls='collapseCategoryAll')
            span.glyphicon.glyphicon-tags.nb-link-icon
            span.nb-link-text All
            span.fa.fa-angle-up.nb-btn-sub-collapse
          // Dropdown level one
          ul#collapseCategoryAll.nb-sub-one.collapse
            li
              a(href='#')
                span.fa.fa-dot-circle-o.nb-link-icon
                span.nb-link-text UI
                span.badge 4
            li
              a(href='#')
                span.fa.fa-dot-circle-o.nb-link-icon
                span.nb-link-text Design
            li
              a(href='#')
                span.fa.fa-dot-circle-o.nb-link-icon
                span.nb-link-text App
            li
              a(href='#')
                span.fa.fa-dot-circle-o.nb-link-icon
                span.nb-link-text Homepage
        li
          a(href='#')
            span.fa.fa-dot-circle-o.nb-link-icon
            span.nb-link-text Popular
        li
          a(href='#')
            span.fa.fa-dot-circle-o.nb-link-icon
            span.nb-link-text Handpicked
    // /.dash-navbar-left
    .content-wrap.nb-visible(data-effect='nb-push')
      .container-fluid
        .row
          // Your content here
          .dummy-div(style='height:1500px;')
          // End of your content
    // /.content-wrap
