doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='/css/prueba.css')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' )
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js' )
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' )
  body
    // Dash Navbar Top
    nav.navbar.navbar-light.bg-faded.navbar-static-top.dash-navbar-top.nb-visible
      button.nb-btn-toggle
        span.fa.fa-bars
    // Dash Navbar Left
    .dash-navbar-left.nb-visible
      a.navbar-brand(href='#') Navbar 
      p.nb-nav-title Información
      ul.nb-nav
        li
          a.collapsed(data-toggle='collapse' href='#collapseStatistics' aria-expanded='false' aria-controls='collapseStatistics')
            span.glyphicon.glyphicon-stats.nb-link-icon
            span.nb-link-text Infra
            span.fa.fa-angle-up.nb-btn-sub-collapse
          // Dropdown level one
          ul#collapseStatistics.nb-sub-one.collapse
            li
              a(href='#')
                span.fa.fa-clock-o.nb-link-icon
                span.nb-link-text Panel
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Asistencia
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Plan Matriz
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Brocales
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Disciplina
        li 
          a.collapsed(data-toggle='collapse' href='#collapseTraspaso' aria-expanded='false' aria-controls='collapseTraspaso')
            span.glyphicon.glyphicon-stats.nb-link-icon
            span.nb-link-text Traspaso
            span.fa.fa-angle-up.nb-btn-sub-collapse
          // Dropdown level one
          ul#collapseTraspaso.nb-sub-one.collapse
            li
              a(href='#')
                span.fa.fa-clock-o.nb-link-icon
                span.nb-link-text Asistencia
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Pauta Diaria
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Disciplina
        li 
          a.collapsed(data-toggle='collapse' href='#collapsett8' aria-expanded='false' aria-controls='collapsett8')
            span.glyphicon.glyphicon-stats.nb-link-icon
            span.nb-link-text Tt8
            span.fa.fa-angle-up.nb-btn-sub-collapse
          // Dropdown level one
          ul#collapsett8.nb-sub-one.collapse
            li
              a(href='#')
                span.fa.fa-clock-o.nb-link-icon
                span.nb-link-text Asistencia
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Pauta Diaria
            li
              a(href='#')
                span.fa.fa-history.nb-link-icon
                span.nb-link-text Disciplina
        li
          a(href='#')
            span.glyphicon.glyphicon-comment.nb-link-icon
            span.nb-link-text Comments
            span.badge 4
      p.nb-nav-title Opciones
      ul.nb-nav
        li
          a(href='#')
            span.glyphicon.glyphicon-folder-open.nb-link-icon
            span.nb-link-text Modificación
        li
          a(href='#')
            span.glyphicon.glyphicon-folder-open.nb-link-icon
            span.nb-link-text Reporte
        li
          a(href='#')
            span.glyphicon.glyphicon-folder-open.nb-link-icon
            span.nb-link-text Archivos
        li
          a(href='#')
            span.glyphicon.glyphicon-folder-open.nb-link-icon
            span.nb-link-text Creación
