doctype html
html
  head
    title Actividades del día
    style.
      .card {
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
      padding: 10px;
      margin-bottom: 20px;
      }
      .card h2 {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
      }
      .card p {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      }
  body
    h1 Actividades del día
    .card
      h2 Actividad 1
      p Descripción de la actividad 1.
    .card
      h2 Actividad 2
      p Descripción de la actividad 2.
    .card
      h2 Actividad 3
      p Descripción de la actividad 2.
    