#tablevimo.grid-container
          div
            
            table.Vimo.table.caption-top
              thead
                tr
                  th(data-type="text")
                    | Id.
                    span.resize-handle
                  th(data-type='text')
                    | Estado
                    span.resize-handle
              tbody
                tr(ng-repeat="vimo in vimoarray1")
                  td
                    label {{vimo.Identificacion}} 
                  td
                    label {{vimo.Estado}} 
          div
            table.Vimo.table.caption-top
              thead
                tr
                  th(data-type="text")
                    | Id.
                    span.resize-handle
                  th(data-type='text')
                    | Estado
                    span.resize-handle
              tbody
                tr(ng-repeat="vimo in vimoarray2")
                  td
                    label {{vimo.Identificacion}} 
                  td
                    label {{vimo.Estado}} 
          div
            table.Vimo.table.caption-top
              thead
                tr
                  th(data-type="text")
                    | Id.
                    span.resize-handle
                  th(data-type='text')
                    | Estado
                    span.resize-handle
              tbody
                tr(ng-repeat="vimo in vimoarray3")
                  td
                    label {{vimo.Identificacion}} 
                  td
                    label {{vimo.Estado}} 
          div
            table.Vimo.table.caption-top
              thead
                tr
                  th(data-type="text")
                    | Id.
                    span.resize-handle
                  th(data-type='text')
                    | Estado
                    span.resize-handle
              tbody
                tr(ng-repeat="vimo in vimoarray4")
                  td
                    label {{vimo.Identificacion}} 
                  td
                    label {{vimo.Estado}} 
          div
            table.Vimo.table.caption-top
              thead
                tr
                  th(data-type="text")
                    | Id.
                    span.resize-handle
                  th(data-type='text')
                    | Estado
                    span.resize-handle
              tbody
                tr(ng-repeat="vimo in vimoarray5")
                  td
                    label {{vimo.Identificacion}} 
                  td
                    label {{vimo.Estado}} 



//div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('SUB-5')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart1(zingchart='' zc-json='myJsonpieasistencia1' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('PIPA NORTE QT PACIFICO SUPERIOR')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia')
            //  #chart2(zingchart='' zc-json='myJsonpieasistencia2' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('TTE 6 ACARREO ')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart3(zingchart='' zc-json='myJsonpieasistencia3' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('DIABLO REGIMIENTO ')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart4(zingchart='' zc-json='myJsonpieasistencia4' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('SUB 6 RENO')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia')  
            //  #chart5(zingchart='' zc-json='myJsonpieasistencia5' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('TENIENTE 7 ACARREO')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart6(zingchart='' zc-json='myJsonpieasistencia6' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('LA JUNTA')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart7(zingchart='' zc-json='myJsonpieasistencia7' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('OP-20/21')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart8(zingchart='' zc-json='myJsonpieasistencia8' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('CHANCADO PRIMARIO COLON')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart9(zingchart='' zc-json='myJsonpieasistencia9' zc-width='100%' zc-height='210px')
            //div(ng-controller='PiechartAsistencia' class="border" ng-model='openmodalsub6' ng-click="modalasistencia('AGUAS CONTACTO MINA TURNOS 4X4')" type='button' data-bs-toggle='modal' data-bs-target='#Modalasistencia') 
            //  #chart10(zingchart='' zc-json='myJsonpieasistencia10' zc-width='100%' zc-height='210px')