body {
  font-family: "Lato", sans-serif;
  background-color: #ededed;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f49649;
  overflow-x: hidden;
  padding-top: 20px;
}

.rectangulo{
  background-color: #f49649;
  width: 200px;
  padding: 30px;
  margin: 20px;
  border-radius: 25px
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 15px;
}

#Brocales tablinkbrocales {
  display: block;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


table, th, td {
            border:solid 1px #CCC;
            
            padding:1px 3px;
            font:15px Tahoma;
        }
        th,td {
            font-weight:bold;
            background-color: white;
        }

table {
  border-spacing: 1;
  
  border-collapse: collapse;
  border-radius:6px; 
}


.form {
  width: 400px;
  height: 300px;
}

.Asistencia{
  margin-left: 33px;
}
.formasistencia{
  margin-left: 33px;
}
.selectasistencia{
  margin-left: 33px;
}

#Asistencia > h2 {
  margin-left: 33px
}

.selectmonth {
  margin-left: 33px;
}

#chart-1{
  width: 500 px;
}

#gridbrocales {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  text-align: center;
}

#gridbrocales table{
  width: 100%;
}

/*#exampleModal {
  width: 100%;
}

.modal-content{
  width: 1600px;
}
.modal-dialog{
  width: 1600px;
}*/

.tablinkbrocalsub6, .tablinkbrocalsub7, .btnn {
  background-color: #2bbb9a;
  border-color: #4cae4c;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  margin-left: 15px;
  color: #fff;
}

.btnn{
  background-color: #2bbb9a;
}

.btnn:hover {
  background-color:#008a6c;
}
.tablinkbrocalsub6:hover {
  background-color:#008a6c;
}
.tablinkbrocalsub7:hover {
  background-color:#008a6c;
}

#Brocales {
  padding: 10px;
}


#Modalbrocales .modal-dialog{
  width: 1000px;
  max-width: 100%;
}

#Modalfiles .modal-dialog{
  width: 1000px;
  max-width: 100%;
}


