body {
  font-family: "Lato", sans-serif;
  background-color: #ededed;
  margin: 0;
  padding: 0;




}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

p.dato{
  font-size: 14px;
}

.tittleh2{
  font-size: 18px;
}

.tittleh22{
  text-align: left;
  font-size: 22px;
  padding-left: 15px;
}

.tittleh2:before{
  content: "";
  position: relative;
    left: -28px;
    top: 20px;
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    background: #f9f9f9
}

.bodydiariosub5{
  text-align: left;
  padding-left: 20px;
  border-left: 3px solid #e8e8e8 
}
.bodydiariosub6{
  text-align: left;
  padding-left: 20px;
  border-left: 3px solid #e8e8e8 
}

.x_body{
  padding: 0 6px 16px;
}

.headerdiariosub5{
  border-bottom: 2px solid #E6E9ED;
  margin-bottom: 10px;
}
.headerdiariosub6{
  border-bottom: 2px solid #E6E9ED;
  margin-bottom: 10px;
}
.x_panel{
  padding: 10px 17px;
}

.x_li{
  border-bottom: 1px solid #e8e8e8;
}
/*li.nav-item > *:not(#startDate){
  filter: blur(5px);
}

#esto 
*/
/*#probando >  *:not(#prueba1) {
  filter: blur(5px);
}
#prueba1 >  *:not(#prueba2) {
  filter: blur(5px);
}
#prueba2 >  *:not(#prueba3) {
  filter: blur(5px);
}
#prueba3 >  *:not(#startDate) {
  filter: blur(5px);
}*/

.navbar-vertical.navbar-expand-xs{
  height: 100%;
}



.grid-container {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  gap: 10px;
  padding: 15px;
}

#Brocales tablinkbrocales {
  display: block;
}

.sidenav {
  background-color:  #2A2D35;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
  z-index: 10;

}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #c2c7d0;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .nav-item{
  margin-bottom: 0.1rem;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

li a {
  font-size: 10px;
}


.tablink{
  display: block;
  padding: 0.5rem 1rem;
  padding-top: 0.5rem;
}


.navbar-collapse {
  padding-top: 0.4rem;
}


.main-header{
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  height: 60px;
  display: flex;
  margin-left: 160px;
  padding-right: 10px;
  padding-top: 5px;
}


.main-header .ml-auto{
  display: flex;
  margin-left: auto;

}

.main-header .navbar-nav {
  flex-direction: row;
  color: rgba(0,0,0,.5);
  padding-right: 1rem;
    padding-left: 1rem;
}

.main-header .navbar-nav:hover{
  color: rgba(0,0,0,.7);  
}
.headertext{
  border-bottom: 1px solid #dee2e6 !important;
  border-color: #dee2e6 !important;
  height: 57px;
}

.sidenav {
  padding-top: 0px;
}




table, th, td {
            background-color: white;
            padding:1px 3px;
            font:14px Tahoma;
        }
        th,td {
            font-weight:bold;
            background-color: white;
            text-align: center;
        }

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius:6px; 
  overflow-y: scroll;
}

.tabla, .tabla2{
  overflow-y: scroll;
}



.form {
  width: 400px;
  height: 300px;
}

.Asistencia{
  margin-left: 33px;
  width: 90%;
  background-color: white;
}




.formasistencia{
  margin-left: 33px;
}
.selectasistencia{
  margin-left: 33px;
}

#Asistencia > h2 {
  margin-left: 33px
}

.selectmonth {
  margin-left: 33px;
}

#chart-1{
  width: 500 px;
}

#gridbrocales {
  display: grid;
  grid-template-columns: auto auto;
}

#gridplanmatriz1 {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  text-align: center;
}

#gridbrocales table{
  width: 100%;
}


.tablinkbrocalsub6, .tablinkbrocalsub7, .btnn {
  background-color: #2bbb9a;
  border-color: #4cae4c;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 15px;
  color: #fff;
}

.btnn{
  background-color: #2bbb9a;
}

.btnn:hover {
  background-color:#008a6c;
}
.tablinkbrocalsub6:hover {
  background-color:#008a6c;
}
.tablinkbrocalsub7:hover {
  background-color:#008a6c;
}

#Brocales {
  padding: 10px;
}

button{
  background-color: #2bbb9a;
  border-color: #4cae4c;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 15px;
  color: #fff;
  margin-top: 5px;
}


#Modalasistencia .modal-dialog{
  width: 1400px;
  max-width: 100%;
  height: 1000px;
}

#Modalfiles .modal-dialog{
  width: 1400px;
  max-width: 100%;
}

#Modalmatriz .modal-dialog{
  width: 1400px;
  max-width: 100%;
  height: 1000px;
}

#Modalbrocales .modal-dialog{
  width: 1400px;
  max-width: 100%;
  height: 1000px;
}

#Modaltrabajos .modal-dialog{
  width: 1400px;
  max-width: 100%;
  height: 1000px;
}

#Modalworkpad .modal-dialog{
  width: 1400px;
  max-width: 100%;
  height: 1000px;
}

#Modalasistenciatraspaso .modal-dialog{
  height: 700px;
  width: 1000px;
  max-width: 100%;
}

#ModalAsistenciaar .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#ModalAsistenciaar .grid-container{
  padding: 0px
}

#ModalPlanificacionvimo .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#ModalPlanificacionvimo .grid-container{
  padding: 0px
}

#Modalequipos .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#Modalequipos .grid-container{
  padding: 0px
}

#Modaldisciplina .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#Modaldisciplina .grid-container{
  padding: 0px
}

#Modalbrocales .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#Modalbrocales .grid-container{
  padding: 0px
}

#Modalvimo .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#Modalvimo .grid-container{
  padding: 0px
}
#Modalvimo2 .modal-dialog{
  width: 1400px;
  max-width: 100%;
  height: 1000px;
}

#Modalvimo2 .grid-container{
  padding: 0px
}

#Modalmatriz .modal-dialog{
  max-width: 1400px;
  width: 1400px;
}

#Modalmatriz .grid-container{
  padding: 0px
}




.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;    
    width: 100%;
    height: 100%;
    max-width: 10.625rem!important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.ms-3{
  margin-left: 0px;
}


.border-radius-xl {
    border-radius: 0.75rem;
}

.sidenav-header {
  height: 60px;
  border-bottom: 1px solid rgba(255,152,0,0.1);
  display: flex;
}



.sidenav-header .image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5px;
}


.sidenav-footer {
  border-top: 1px solid rgba(255,152,0,0.1);
  /*margin-left: 10px;*/
  width: 100%;
  position: absolute;
  bottom: 0;

}

.imagen{
  background-image: url("/imagenes/miesvec.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 140px;
  
}

.sidenav-footer .image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5px;
  margin-left: 10px;
}

.imagen2{
  background-image: url("/imagenes/codelcov2.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 133px;
  margin-left: 5px;
}

.horizontal2{
  margin-top: 40px;
}

#startDate{
  margin-left: 10px;
}


.selectmonths {
  width: 100%;
  min-width: 15px;
  max-width: 150px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.grapheader, .graphfooter {
  height: 50px;
  background-color: white;
}

.grapheader div {
  font-size: 20px;
  text-align: left;
  padding: 10px 30px;

}

.matrizheader {
  height: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#acondicionado{
  border-radius: 10px;
}
.graphfooter:hover{
  background-color:#ededed;
}

.graphfooter div{
  text-align: right;
  padding: 15px 30px;
  display: inline-block;
  margin-left: 600px;

}

.matriz{
  border-radius: 10px;
}
.graphsub6{
  border-radius: 10px;
}
.graphsub7{
  border-radius: 10px;
}

.graphr{
  color: black;
}

hr{
  margin: 0px;
}

.grapheader{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.graphfooter{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bi{
  text-align: right;
}

.selectmonths {
  margin-left: 30px;
  display: inline-block;
}


.btnn{
  display: inline-block;
}

#gridplanmatriz1{
  width: 99%;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  height: 450px;
}

/*------------------------------------------------------ Dashboard --------------------------------------------------------------------*/

#planmatrizgrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

#planmatrizgrid  div{
  background-color: white;
  height: 300px;
  text-align: center;
  border-radius: 10px;
}

#planmatrizgrid1 {
  display: grid;
  grid-template-columns: 30% auto;
  gap : 10px;
}
#planmatrizgrid1  div{
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

#brocalesgrid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

#brocalesgrid div{
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

#asistenciagrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
}

#asistenciagrid div{
  background-color: white;
  height: 200px;
  text-align: center;
  border-radius: 6px;
}

#asistenciagrid2{
  display: grid;
  grid-template-columns: 65% auto;
}

#asistenciagrid2 table, th, td{
  font: 12px;
}

#asistenciatraspasogrid{
  display: grid;
  grid-template-columns: 75% auto;
}

#asistenciatraspasograficos div{
  background-color: white;
}

#asistenciatte8graficos div{
  background-color: white;
}

#asistenciatte8grid{
  display: grid;
  grid-template-columns: 75% auto;
}

#contentdiariosub5{
  background-color: white;
  border-radius: 10px;
  padding-top: 6px;
}

/*.bodydiariosub5 div{
  height: 300px;
}*/
.bodydiariosub5{
  display: grid;
  grid-template-columns: auto 40%;
}

#contentdiariosub6{
  background-color: white;
  border-radius: 10px;
  padding-top: 6px;
}

/*.bodydiariosub6 div{
  height: 300px;
}*/
.bodydiariosub6{
  display: grid;
  grid-template-columns: auto 40%;
}

#brocalesdiarios h2{
  text-align: center;
}

#brocaldiariogrid1 {
  display: grid;
  grid-template-columns: auto 40%;
}
#brocaldiariogrid2 {
  display: grid;
  grid-template-columns: auto 40%;
}

#asistenciagrid2 .grafico{
  background-color: white;
  height: 200px;
  text-align: center;
  border-radius: 6px;
}

#asistenciagrid2 .tabla{
  background-color: white;
  height: 475px;
  text-align: center;
  border-radius: 6px;
}

#asistenciatraspasograficos{
  display: grid;
  grid-template-rows: auto auto;
  padding: 0px;
}

#asistenciatraspasograficos.grid-container div{
  border-radius: 10px;
}

#asistenciatraspasograficos.item1traspaso{
  height: 100%;
}

#asistenciatte8graficos{
  display: grid;
  grid-template-rows: auto auto;
  padding: 0px;
}

#asistenciatte8graficos.grid-container div{
  border-radius: 10px;
}

#asistenciatte8graficos.item1traspaso{
  height: 100%;
}


#asistenciagrid21 {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0px;
}

#asistenciagrid21 div{
  border-radius: 10px;
  
}

#brocalesubicaciones {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;

}

#matrizbrocales{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

#gridbrocalesreport {
  display: grid;
  grid-template-columns: 23% 23% auto;

}

#gridbrocalesreport div{
  border-radius: 10px;
}

#gridbrocalesreport2 {
  display: grid;
  grid-template-columns: 23% 23% auto;
}

#gridmatrizreport div{
  border-radius: 10px;
}

#gridmatrizreport{
  display: grid;
  grid-template-columns: 23% 23% 23% auto;
}

#gridbrocalesreport2 div{
  border-radius: 10px;
}

#matrizbrocales div{
  border-radius: 10px;
}

#lineasistenciareport div{
  border-radius: 10px;
}


#gridbrocales{
  display: grid;
  grid-template-columns: auto auto;
}

#divinvisible{
  display: none;
}

.main-header{
 
  filter:  blur(0px);
}

.btnn {
  filter:  blur(0px);
}

#startDate {
  width: 150px;

}

.main{
  padding-top: 17px;
}

#startDate{
  padding-left: 20px;
}

.prueba{
  height: 300px;
  width: 400px;
  background-color: white;
}

#chart-matriz2{
  padding-left: 6px;
}


.graphsub2{
  border-radius: 10px;
}

.bodydiariosub5 h1 {
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

.bodydiariosub6 h1{
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

#Disciplinagrid{
  display: grid;
  grid-template-columns: auto;
}

#tablevimo{
  display: grid;
  grid-template-columns: auto auto auto auto auto;

}

#tablevimo div{
  background-color: white;
  border-radius: 10px;
  height: 300px;
}

#Disciplinagrid div{
  border-radius: 10px;
}

#Disciplinaubicaciones {
  display: grid;
  
}

#Disciplinaubicacionestte8 {
  display: grid;
  
}

#grid-disciplina{
  display: grid;
  grid-template-columns: 13% auto;
}
#grid-disciplinatte8{
  display: grid;
  grid-template-columns: 13% auto;
}

#timer-test{
  display: grid;
  grid-template-rows: auto auto;
}

#timer-test div{
  background-color: white;
}

.buttonstimer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttonreport{
  text-align: center;
}

.buttoninnasistance {
  align-items: center;
  justify-content: center;
  display: flex;
}

.vimo th{
  text-align: center;

}

.geek {
            border: 1px solid black;
            width: 400px;
            background-color: green;
            border-radius: 4px;
            height: 20px;
            color: white;
        }

#asistenciagrid21 div{
  background-color: white;
}

#asistenciagrid2 .tabla{
  height: 540px;
}

#tablecompletedvimo {
  display: grid;
  grid-template-columns: 70% auto;
  height: 540px;
}

#tablecompletedvimo .tabla{
  background-color: white;
  text-align: center;
  border-radius: 6px;
  width: 100%;
}


#tablepautadiaria .tabla{
  background-color: white;
  text-align: center;
  border-radius: 6px;
  max-height: 300px;
  width: 100%;
}

#tableequipos {
  display: grid;
  grid-template-columns: 100% auto;
  height: 540px;
}

#tableequipos .tabla{
  background-color: white;
  text-align: center;
  border-radius: 6px;
  width: 100%;
}




#tablearchivos .tabla{
  background-color: white;
  text-align: center;
  border-radius: 6px;
  width: 90%;
  height: 450px;
}

#tablearchivos .tabla2{
  background-color: white;
  text-align: center;
  border-radius: 6px;
  width: 90%;
  height: 200px;
}


table.Asistenciaar td{
  font-size: 12px;
}
table.Asistenciaarmod td{
  font-size: 12px;
}

table.matrizaarmod td{
  font-size: 12px;
}

#tableasistenciaarmod.grid-container{
  height: 700px;
}
table.planificacionvimo td{
  font-size: 12px;
}

table.equipo td{
  font-size: 12px;
}

table.disciplina td{
  font-size: 12px;
}

table.brocales td{
  font-size: 12px;
}

table.vimo td{
  font-size: 12px;
}
table.matriz td{
  font-size: 12px;
}

#tablebrocales.grid-container{
  height: 700px;
}

#tablematrizarmod.grid-container{
  height: 700px;
}

#tabledisciplina.grid-container{
  height: 700px;
}

#tablecompletedasistenciatraspaso.grid-container{
  height: 540px;
  border-radius: 10px;
  background-color: white;
  padding: 0px;
}

.asistenciapietraspaso{
  border-radius: 10px;
  background-color: white;
}

#tablecompletedasistenciatte8.grid-container{
  height: 540px;
  border-radius: 10px;
  background-color: white;
  padding: 0px;
}

#chart61{
  border-radius: 10px
}

.headertable{
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  
}

#tableasistencia {
  display: grid;
  grid-template-columns: 100% auto;
  height: 540px;
}

#tableasistencia .tabla{
  background-color: white;
  text-align: center;
  border-radius: 6px;
  width: 100%;
}




.form-controlfilter{
  width: 300px;
  margin-left: 10px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-selectfilter{
  height: 38px;
  width: 200px;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-selectfilterequipo{
  height: 38px;
  width: 200px;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.brocalesitems{
  flex-direction: row;
  display: flex;

}
.brocalesitems .item1{
  width: 50%;
}
.brocalesitems .item2{
  margin-left: 30px;
  width: 50%;
}


.matrizitems{
  flex-direction: row;
  display: flex;
}

.matrizitems .item1{
  width: 50%;
}

.matrizitems .item2{
  margin-left: 30px;
  width: 50%;
}


.asistenciaexample{
  flex-direction: row;
  display: flex;
}

.equiposexample{
  flex-direction: row;
  display: flex;
}

.disciplinaexample{
  flex-direction: row;
  display: flex;
}

.sapexample{
  flex-direction: row;
  display: flex;
}

.planexample{
  flex-direction: row;
  display: flex;
}

.sub5example{
  flex-direction: row;
  display: flex;
}

.sub6example{
  flex-direction: row;
  display: flex;
}

.timeritems{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

}


.asistenciabutton {
  margin-top: 0px;
  width: 40px;
}

.nav-item #menu_item1{
  margin-left: 0px;
  padding-left: 0px;
}



.formulariocreacion .form-group{
  padding-bottom: 20px;
}

.formulariocreacion .form-control{
  width: 50%;
}


.custom-popoverasistencia {
  --bs-popover-max-width: 1200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/asistencia_example.png");
  background-repeat: no-repeat;
}

.custom-popoverasistencia .popover-body{
  width: 1008px;
  height:822px;
}

.custom-popoverequipos {
  --bs-popover-max-width: 1500px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/equipos_example.png");
  background-repeat: no-repeat;
}

.custom-popoverequipos .popover-body{
  width: 1326px;
  height:819px;
}

.custom-popovertrabajos {
  --bs-popover-max-width: 1500px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/trabajos_example.png");
  background-repeat: no-repeat;
}

.custom-popovertrabajos .popover-body{
  width: 1326px;
  height:819px;
}

.custom-popoverdisciplina {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/disciplina_example.png");
  background-repeat: no-repeat;
}

.custom-popoverdisciplina .popover-body{
  width: 1545px;
  height: 822px;
}

.custom-popoversap {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/sap_example.png");
  background-repeat: no-repeat;
}

.custom-popoversap .popover-body{
  width: 683px;
  height: 817px;
}

.equiposbutton{
  margin-top: 0px;
}

.disciplinabutton{
  margin-top: 0px;
}

.sapbutton{
  margin-top: 0px;
}

.planbutton{
  margin-top: 0px;
}

.vimobutton{
  margin-top: 0px;
}

.sub5button{
  margin-top: 0px;
}

.sub6button{
  margin-top: 0px;
}

.custom-popoverplan {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/plan_example.png");
  background-repeat: no-repeat;
}

.custom-popoverplan .popover-body{
  width: 817px;
  height: 852px;
}

.custom-popovervimo {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/consolidado_example.png");
  background-repeat: no-repeat;
}

.custom-popovervimo .popover-body{
  width: 892px;
  height: 612px;
}

.custom-popoversub5 {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/sub5_example.png");
  background-repeat: no-repeat;
}

.custom-popoversub5 .popover-body{
  width: 1253px;
  height: 469px;
}

.custom-popoversub6 {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/sub6_example.png");
  background-repeat: no-repeat;
}

.custom-popoversub6 .popover-body{
  width: 1349px;
  height: 816px;
}

.custom-popovervimo {
  --bs-popover-max-width: 1700px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-width:  200px;
  background-image: url("/imagenes/vimo_examples.png");
  background-repeat: no-repeat;
}

.custom-popovervimo .popover-body{
  width: 1349px;
  height: 816px;
}

.modasistenciabutton {
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}

.modbrocalesbutton{
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}

.modmatrizbutton{
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}
.moddisciplinabutton{
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}
.modequipobutton{
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}

.modvimobutton{
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}
.modsapbutton{
  --bs-btn-padding-x: 0.6rem;
  --bs-btn-padding-y: 0.1rem;
  margin-left: 0px;
  margin-top: 0px;
}


#Modalmodbrocal.modal{
  --bs-modal-width: 1000px;
}

#tablevimomod.grid-container{
  height: 700px;
}

#tablesapar.grid-container{
  height: 700px;
}

#tableasistenciarreport.grid-container{
  height: 700px;
}

#tableabrocalesreport.grid-container{
  height: 300px;
  padding: 0px;
}

.timeritems{
  text-align: center;
}

.timeritems{
  text-align: center;
}

.timeritems .item1fecha{
  padding-right: 30px;
}

.timeritems .item2fecha{
  padding-left: 30px;
}

.sticky {
  position: sticky;
  top: 0;
}

#blur1{
  order: 1;
  position: sticky;
  z-index:1000;
}

#collapseEquipos{
  padding-left: 12px;
  padding-right: 12px;
}

.card-body{
  display: inline-block;
  width: 100%;

}

/*.table-dark {
  background-color: #343a40;
  color: #fff;
}*/

.planificacion-terminada{
  opacity: .5;
}

.planificacion2 .td{
  
  text-decoration: line-through;
  
}