
.header {
  background-color: #FF5733;
}

.header img{
	margin-top: 10px;
	margin-left: 20px;
	width: 150px;
	height: auto;
	margin-bottom: 10px;
}
/*.logo img{
    float: left;
    width: 200px;
    height: auto;

}*/